<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\ShopOwner $shopOwner
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('Edit Shop Owner'), ['action' => 'edit', $shopOwner->id]) ?> </li>
        <li><?= $this->Form->postLink(__('Delete Shop Owner'), ['action' => 'delete', $shopOwner->id], ['confirm' => __('Are you sure you want to delete # {0}?', $shopOwner->id)]) ?> </li>
        <li><?= $this->Html->link(__('List Shop Owners'), ['action' => 'index']) ?> </li>
        <li><?= $this->Html->link(__('New Shop Owner'), ['action' => 'add']) ?> </li>
    </ul>
</nav>
<div class="shopOwners view large-9 medium-8 columns content">
    <h3><?= h($shopOwner->name) ?></h3>
    <table class="vertical-table">
        <tr>
            <th scope="row"><?= __('Email') ?></th>
            <td><?= h($shopOwner->email) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Name') ?></th>
            <td><?= h($shopOwner->name) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Id') ?></th>
            <td><?= $this->Number->format($shopOwner->id) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Created') ?></th>
            <td><?= h($shopOwner->created) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Modified') ?></th>
            <td><?= h($shopOwner->modified) ?></td>
        </tr>
    </table>
</div>
